# private files
notes.org
README.html

# editor files
auto/

# r package
R/inst
R.Rcheck/
R/Meta/
R/.gitignore
R/prof/prof.html
motifcluster.Rcheck
motifcluster*.tar.gz
R/cobertura.xml
R/.setup.R
R/.temp.R
R/man/

# python package
__pycache__
python/build/
python/dist/
python/doc/_build/
python/doc/_static/
python/doc/_templates/
python/prof/
python/motifcluster.egg-info/
python/.coverage
python/coverage.xml

# julia package
Manifest.toml
julia/MotifCluster.jl/docs/build/
*.cov

# performance
*.csv
profile.png
performance/plots/

# sticker
sticker/sticker.pdf
sticker/sticker.png

# logs
build.log

# tex
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.out
*.pytxcode
*.toc
pythontex-files-*/
*.bbl
*.blg
