# private files
todo.org

# editor files
auto/

# r package
R/inst
R/doc/*.R
R/doc/*.Rmd
R/doc/*.html
R.Rcheck/
R/Meta/
R/.gitignore
R/prof/prof.html
motifcluster.Rcheck
motifcluster*.tar.gz
cobertura.xml

# python package
__pycache__
python/build/
python/dist/
python/doc/_build/
python/doc/_static/
python/doc/_templates/
python/prof/
python/motifcluster.egg-info/
python/tutorial/
python/.coverage

# performance
*.csv
profile.png
performance/plots/

# sticker
sticker/

# logs
build.log

# tex
*.aux
*.log
*.fdb_latexmk
*.fls
